* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.topbar-container2 {
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center;     /* aligns vertically */
  gap: 1rem;               /* optional: space between topbar and button */
}


body {
  background: var(--bg-color);
  /* background-color: #F3F2EC; */
  align-items: center;
  justify-content: center;
  height: 100vh;
}

:root {
  --bg-color: #F5F5F0;
  --text-color: #5D866C;
  --accent-color: #C2A68C;
  --shadow-color: rgb(198, 225, 110);

}

[data-theme="dark"] {
  --bg-color: #1B3C53;
  --text-color: #D2C1B6;
  --accent-color: #456882;
  --shadow-color: rgba(233, 24, 24, 0.882)
}
