.projects {
  max-width: 800px;
  margin: 80px auto;
  padding: 0 20px;
  text-align: left;
  color: var(--text-color);
}

.projects h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--accent-color);
}

/* Horizontal Line */
.horizontal-line {
  display: flex;
  border-top: 1px solid #808080; /* Creates a 1px solid black line at the top */
  width: 100%; /* Spans the full width of its parent */
  margin: 20px 0; /* Adds space above and below the line */
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  margin-top: 20px;
}
